.mdl-layout__header {
  min-height: 66px;
  padding-top: 10px;
}
.mdl-layout__header .mdl-layout__drawer-button {
    top: 10px;
}

.mdl-layout__header>.mdl-layout-icon {
  top: 22px;
}

.mdl-layout__header-big {
  height:30%;
}
.mdl-layout__header-big .mdl-layout__header-row {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 5px 5px 5px;
  align-items: flex-start;
}

.mdl-layout__header-big h2, .mdl-layout__header-big h5 {
  margin: 0;
  font-weight: 200;
}

.mdl-layout__content-big {
  padding: 20px;
}

.mdl-layout__header-text {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  color: inherit;
  display: block;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  line-height: normal;
  overflow: hidden;
  margin: 0 0 10px 20px;
}
.mdl-layout__header-text-title {
  font-size: 35px;
  font-weight: 300;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
.mdl-layout__header-text-subtitle {
  font-size: 14px;
  font-weight: 500;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.mdl-layout__header-title-fab {
  position: absolute;
  top: calc(30% - 30px);
  left: calc(100% - 90px);
  z-index: 20;
}

.mdl-switch.is-checked.mdl-switch--accent .mdl-switch__thumb {
  background-color: #ff4082;
}

.mdl-dialog__title {
  line-height: normal;
}
